body
  a(href="/main") main page
  each post in postsInfo
    if post.response
      p.
        #[a(href="/thread/" + post.id) #{post.title}]
        #{post.creatorName}
        created: #{post.timeCreated}
        edited: #{post.timeEdited}
      ul
        li.
          #{post.response.content}
          created: #{post.response.timeCreated}
          edited: #{post.response.timeEdited}
    else
      p.
        #[a(href="/thread/" + post.id) #{post.title}]
        #{post.content}
        created: #{post.timeCreated}
        edited: #{post.timeEdited}
